@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
  box-sizing: border-box;
}

article {
  height: calc(100vh - 80px);
  overflow: hidden;
}
